//Font size basic
$sizeFontBase: 10px;

// Break points 
$sizeBreakpointMobile: 478px;
$sizeBreakpointTablet: 768px;
$sizeBreakpointDesktop: 980px;

// Colors 
$black: rga(0, 0, 0);
$white: #ffffff;
$greyLight: #F8F9FC;
$greyMedium: #E5EAF4;
$grey: #A9B1BD;
$cyan: #11B0C8;
